In [2]:
import pandas as pd
import os

In [3]:
df_base = pd.read_csv("data/quandl_cpd_126lbw_backup.csv")
df_base.head()

,Date,date,ticker,close,srs,daily_returns,daily_vol,target_returns,norm_daily_return,norm_monthly_return,...,macd_32_96,day_of_week,day_of_month,week_of_year,month_of_year,year,cp_rl_126,cp_score_126,cp_rl_21,cp_score_21
0,2001-01-02,2001-01-02,AAPL,0.265625,0.265625,0.000000,0.052202,0.018253,0.000000,-0.411694,...,-7.585871,1,2,1,1,2001,0.309691,0.999808,0.692656,0.992290
1,2001-01-03,2001-01-03,AAPL,0.292411,0.292411,0.100841,0.054865,0.007231,1.838003,-0.160264,...,-6.978549,2,3,1,1,2001,0.428643,0.999871,0.747073,0.939045
2,2001-01-04,2001-01-04,AAPL,0.304688,0.304688,0.041985,0.054569,-0.006977,0.769402,0.089872,...,-6.606519,3,4,1,1,2001,0.436770,0.999896,0.859852,0.976116
3,2001-01-05,2001-01-05,AAPL,0.292411,0.292411,-0.040294,0.054108,0.001999,-0.744686,-0.148262,...,-6.220593,4,5,1,1,2001,0.333452,0.999409,0.907269,0.986216
4,2001-01-08,2001-01-08,AAPL,0.295759,0.295759,0.011450,0.053278,0.006693,0.214902,0.643892,...,-5.922470,0,8,2,1,2001,0.507005,0.999963,0.998629,0.995516

In [4]:
df_base.ticker.unique()

array(['AAPL', 'AMD', 'T', 'BAC', 'SWN', 'MSFT', 'XOM', 'BMY', 'PCG',
       'WBD', 'CCL', 'C', 'KO', 'TELL', 'DIS', 'MRK', 'BSX', 'CL', 'CVX',
       'FTI', 'AMZN', 'WU', 'NYCB', 'RF', 'SPY'], dtype=object)

In [5]:
useful = ["autoarima_sd_126_Lo95"   ,         "autoarima_1_126_PointForecast" ,  
 "autoarima_last_126_PointForecast" ,"q75_close_divergence_50"    ,     
 "close_above_vwap_50"]
useful+= ["date", "symbol"]
useful

['autoarima_sd_126_Lo95',
 'autoarima_1_126_PointForecast',
 'autoarima_last_126_PointForecast',
 'q75_close_divergence_50',
 'close_above_vwap_50',
 'date',
 'symbol']

In [6]:
def get_names_of_features(dira):
    lista = os.listdir(dira)
    return [(i.replace("features_", "").replace(".csv", ""), dira + "/" + i) for i in lista]

In [7]:
stocks = get_names_of_features("data/m_features")

In [8]:
len(stocks)

29

In [15]:
df_final = pd.DataFrame()
for tup in stocks:
    print(tup[0])
    if (tup[0][0] ==  "."):
        continue
    curr_stock = pd.read_csv(tup[1])
    curr_stock = curr_stock[curr_stock.columns.intersection(useful)]
    df_a = df_base
    df_b= curr_stock
    df_a = df_a.merge(df_b, how='inner', left_on=['date', 'ticker'], right_on=['date', 'symbol'])
    df_a=df_a.drop("symbol", axis=1)
    df_a=df_a.dropna(how='any',axis=0) 
    df_final = pd.concat([df_final, df_a], axis=0)

AAPL
APA
DAL
CSX
BMY
.DS_Store
FTI
HBAN
CL
DIS
BSX
AAL
JPM
CLF
AMZN
INTC
BEN
CVX
CCL
C
AMD
BAC
FCX
KO
GM
CSCO
MRK
CMCSA
ET

In [18]:
len(df_final.ticker.unique())

14

In [ ]:
# for 
# df_a = df_base
# df_b= curr_stock
# df_a = df_a.merge(df_b, how='inner', left_on=['date', 'ticker'], right_on=['date', 'symbol'])
# df_a.drop("symbol", axis=1)
# df_a.dropna(how='any',axis=0) 
# df_final = pd.concat([df_final, df_a], axis=0)

In [19]:
df_final.columns[25:]

Index(['close_above_vwap_50', 'q75_close_divergence_50',
       'autoarima_1_126_PointForecast', 'autoarima_last_126_PointForecast',
       'autoarima_sd_126_Lo95'],
      dtype='object')

In [ ]:
df_final.to_csv("data/quandl_cpd_126lbw.csv", index=False)