In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/matejvagic/Downloads/captured_returns_fw-7.csv")

In [4]:
df.head()

,Unnamed: 0,identifier,time,returns,position,captured_returns,daily_vol,captured_returns_0_5_bps,captured_returns_1_0_bps,captured_returns_1_5_bps,captured_returns_2_0_bps,captured_returns_2_5_bps,captured_returns_3_0_bps
0,0,SPY,2016-01-04,0.001478,0.877775,0.001297,0.010817,0.001297,0.001297,0.001297,0.001297,0.001297,0.001297
1,1,SPY,2016-01-05,-0.011196,0.275875,-0.003089,0.010646,-0.003115,-0.003141,-0.003167,-0.003193,-0.003219,-0.003245
2,2,SPY,2016-01-06,-0.021202,0.835705,-0.017719,0.010692,-0.017743,-0.017768,-0.017793,-0.017817,-0.017842,-0.017867
3,3,SPY,2016-01-07,-0.009177,0.775371,-0.007116,0.011302,-0.007120,-0.007125,-0.007129,-0.007134,-0.007138,-0.007143
4,4,SPY,2016-01-08,0.000832,0.741904,0.000617,0.011240,0.000616,0.000615,0.000614,0.000613,0.000611,0.000610

In [5]:
df_n = df.loc[df['time'] == "2016-01-04"]
df_n.head()

,Unnamed: 0,identifier,time,returns,position,captured_returns,daily_vol,captured_returns_0_5_bps,captured_returns_1_0_bps,captured_returns_1_5_bps,captured_returns_2_0_bps,captured_returns_2_5_bps,captured_returns_3_0_bps
0,0,SPY,2016-01-04,0.001478,0.877775,0.001297,0.010817,0.001297,0.001297,0.001297,0.001297,0.001297,0.001297
252,252,AAPL,2016-01-04,-0.014863,0.597938,-0.008887,0.015932,-0.008887,-0.008887,-0.008887,-0.008887,-0.008887,-0.008887
504,504,TWTR,2016-01-04,-0.009484,-0.353823,0.003356,0.028263,0.003356,0.003356,0.003356,0.003356,0.003356,0.003356
756,756,AMD,2016-01-04,-0.002007,-0.589792,0.001184,0.033996,0.001184,0.001184,0.001184,0.001184,0.001184,0.001184
1008,1008,T,2016-01-04,0.006667,-0.961836,-0.006412,0.009903,-0.006412,-0.006412,-0.006412,-0.006412,-0.006412,-0.006412

In [5]:

import pandas as pd
import glob
import os

path = '/Users/matejvagic/Desktop/fond/csv' # use your path
all_files = glob.glob(os.path.join(path , "/*.csv"))

li = []

for filename in os.listdir(path):
    f = os.path.join(path, filename)
    df = pd.read_csv(f, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [8]:
frame.to_csv("svi.csv")